.one {
  width: 100px;
  height: 100px;
  margin: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #eee;
  display: inline-block;
  -webkit-box-shadow: -3px -3px 0 red, 3px 3px 0 blue;
  -moz-box-shadow: -3px -3px 0 red, 3px 3px 0 blue;
  -o-box-shadow: -3px -3px 0 red, 3px 3px 0 blue;
  -ms-box-shadow: -3px -3px 0 red, 3px 3px 0 blue;
  box-shadow: -3px -3px 0 red, 3px 3px 0 blue;

  position: relative;
  counter-increment: counter;
}
.one::before {
  content: "element";
  position: absolute;
  top: 40px;
  left: 25px;
}
.one::after {
  content: counter(counter);
  position: absolute;
  top: -7px;
  left: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.border-radius {
  width: 100px;
  height: 100px;
  background-color: #eee;
  -webkit-box-shadow: 0px 0px 20px 0 black inset;
  -moz-box-shadow: 0px 0px 20px 0 black inset;
  -o-box-shadow: 0px 0px 20px 0 black inset;
  -ms-box-shadow: 0px 0px 20px 0 black inset;
  box-shadow: 0px 0px 20px 0 black inset;
  border-top-left-radius: 10px 20px;
  border-bottom-right-radius: 20px 20px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.container {
  width: 550px;
  margin: auto;
}

.container .parentBasic,
.container .parentPro {
  width: 50%;
  float: left;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}
.container .parentBasic .basic,
.container .parentPro .pro {
  background-color: #eee;
  padding: 20px;
  position: relative;
}

.container div .basic::after {
  content: "";
  border-left: solid 1px skyblue;
  float: right;
  background-color: brown;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -9%;
}
.container div .pro::before {
  content: "Or";
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: white;
  text-align: center;
  background-color: skyblue;
  float: left;
  border-radius: 50%;
  position: absolute;

  top: 0;
  bottom: 0;
  left: -14%;
  margin: auto;
}
.container div div button {
  background-color: skyblue;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: auto;
}

.container div div .num {
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 10px auto 0;
  text-align: center;
  background-color: #b1b1b1;
  border-radius: 50%;
}

.clr {
  clear: both;
}
