body{
    font-family: Arial, Helvetica, sans-serif;
}

.our-div{
    text-align: center;
    background-color: #eee;
    padding: 3rem 2rem;
    box-sizing: border-box;
    position: fixed;
    top: 30%;
    left: 30%;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    display: none;
}
h3{

    display: block;
    width: fit-content;
    margin: 0 auto 25px;
}
.close-button{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    position: relative;
    left: 58%;
    bottom: 60px;
    cursor: pointer;
}
#task-three{
    width: 25%;
    text-align: center;
    margin:50px auto;
    font-size: 2em;
    font-weight: bold;
    color: salmon;
}